		
		</section>
		
					
	</article>
	
</div>
</main>

<footer class="row footer pad-v-30 border-top color-meta">
<div class="container">

	<p class="float-right text-right font-25">
		<a class="hover-bright-aqua" href="http://twitter.com/dylanized"><i class="fa fa-twitter"></i></a>&nbsp;
		<a class="hover-bright-green" href="http://github.com/dylanized/peezy"><i class="fa fa-github"></i></a>
	</p>
	
	<p><a href="http://twitter.com/dylanized"><em>by @dylanized</em></a></p>
					
</div>
</footer>

<script type='text/javascript' src='/themes/default/js/common.js'></script>
		
</body>
</html>