<!DOCTYPE html>
<html lang="en">
<head>

	<title>Peezy - a simple website engine</title>
		
	<!-- encoding -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!-- responsive layout -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

	<!-- favicon -->
	<link rel="shortcut icon" href="#" />

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="lib/js/selectivizr-min.js"></script>
	<![endif]-->

	<!-- fonts -->
	<link rel='stylesheet' id='open-sans-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.3.1' type='text/css' media='all' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

	<!-- css -->
	<link rel='stylesheet' id='reset-css'  href='css/reset.css' type='text/css' media='all' />	
	<link rel='stylesheet' id='grid-css'  href='lib/css/simplegrid.css' type='text/css' media='all' />	
	<link rel='stylesheet' id='core-css'  href='css/core.css' type='text/css' media='all' />		
	<link rel='stylesheet' id='utility-css'  href='css/utility.css' type='text/css' media='all' />		
	<link rel='stylesheet' id='overrides-css'  href='style.css' type='text/css' media='all' />

	<!-- js -->
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js?ver=2.1.3'></script>

</head>

<body class="home page font-open-sans">

<header class="row header pad-v-30 border-bottom color-meta">
<div class="container grid">
	
		<h1 class="logo margin-0 normal"><span>Peezy</span></h1>
		<h3 class="h5 color-meta margin-0 normal">A Simple Website Engine</h3>			
		
	</nav>		

</div>
</header>

<main class="row pad content" role="main">
<div class="container">
	
	<article class="page type-page status-publish hentry">
					
		<section class="post-content">
		
			<%- content %>
		
		</section>
		
					
	</article>
	
</div>
</main>

<footer class="row footer pad-v-30 border-top color-meta">
<div class="container">

	<p class="float-right text-right font-25">
		<a class="hover-bright-aqua" href="http://twitter.com/dylanized"><i class="fa fa-twitter"></i></a>&nbsp;
		<a class="hover-bright-green" href="http://github.com/dylanized/peezy"><i class="fa fa-github"></i></a>
	</p>
	
	<p><a href="http://twitter.com/dylanized"><em>by @dylanized</em></a></p>
					
</div>
</footer>

<script type='text/javascript' src='js/common.js'></script>
		
</body>
</html>